.SelectToken-model {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(4, 4, 4, 0.5);
    backdrop-filter: blur(4px);
    z-index: 9999;

    /* Add animation */
    animation: show__overlay 0.5s linear;
}

.SelectToken {
    z-index: 2;
    position: absolute;
    width: 428px;
    height: 529px;
    background: #0E0E0E;
    border: 2px solid #1C1C1C;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}

.SelectToken-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 28px;
    padding-right: 24px;
    height: 73px;
}

.SelectToken-header h3 {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.SelectToken-header-img {
    display: flex;
    cursor: pointer;
    height: 40px;
    border: 1px solid #1A1A1A;
    border-radius: 50%;
}
.SelectToken-header-img:hover{
    border: 2px solid rgb(50, 171, 223);
    cursor: pointer;
}

.SelectToken-header-img img {
    padding: 8px;
}

.SelectToken-list {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    padding: 0 28px;
    margin-top: 19.98px;
}

.SelectToken-list-title_item {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    width: 371px;
    height: 60px;
}

.SelectToken-list-title_item:hover {
    background: #1C1C1C;
    border-radius: 12px;
    cursor: pointer;
}

.SelectToken-list-title_item_left {
    display: flex;
    align-items: center;
    padding-left: 20px;

}

.left-text {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: #FFFFFF;
}

.SelectToken-list-title_item_right p {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: right;
    padding-right: 20px;
    color: #77838F;
}

.SelectToken-list-footer {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SelectToken-list-footer p {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #77838F;
}